<!--* TOOLBAR SECTION -->
<div>
    <cwd-toolbar>
        <div toolbar-center>
            <cwd-button (onClick)="redirectToShowcasePage()">Uikit</cwd-button>
        </div>
        <div toolbar-center>
            <cwd-button (onClick)="redirectToComponentPages()">Components</cwd-button>
        </div>
        <div toolbar-center>
            <cwd-button (onClick)="redirectToGuidesPage()">Guides</cwd-button>
        </div>
        <div toolbar-right>
            <cwd-button (onClick)="redirectOnGitHubPage()" iconName="faCodeBranch">GitHub</cwd-button>
        </div>
    </cwd-toolbar>
</div>

<div class="components-container">
    <p>Angular Material offers a wide variety of UI components based on the <a
            href="https://m3.material.io/components">Material Design specification</a></p>


    <div cwdFlex cwdFlexDirection="row" cwdFlexJustify="space-between" cwdFlexGap="10" cwdFlexWrap="nowrap">
        <app-exposing-card [imageSrc]="'assets/button-img.png'" [ctaText]="'Scopri di più'" [ctaIcon]="'faArrowRight'"
            [ctaClick]="redirectToButtonIntroductionPage.bind(this)">
            <div class="exposing-card-container">
                <h5>Button</h5>
                <p>An interactive button with a range of presentation options.</p>
            </div>
        </app-exposing-card>

        <app-exposing-card [imageSrc]="'assets/button-img.png'" [ctaText]="'Scopri di più'" [ctaIcon]="'faArrowRight'"
            [ctaClick]="redirectToFabIntroductionPage.bind(this)">
            <div class="exposing-card-container">
                <h5>Fab</h5>
                <p>Floating action buttons (FAB) buttons are circular and only have space for a single icon.
                </p>
            </div>
        </app-exposing-card>

    </div>
</div>