.components-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.exposing-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}