@import '../../cwd-uikit/src/styles.scss';

* {
  font-family: var(--font-family-base);
  color: var(--color-text);
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  line-height: 1.5;
}
