<div class="getting-started-container">
    <h4>Getting started with CodeWithDaevel Uikit</h4>

    <p>This guide explains how to set up your Angular project to begin using CodeWithDaevel Uikit. 
    It includes information on prerequisites, installing CodeWithDaevel Uikit, and optionally displaying a sample 
    Uikit component in your application to verify your setup.</p>

    <p>This guide assumes that the <a href="https://angular.dev/tools/cli/setup-local#install-the-angular-cli">Angular CLI</a> has already been installed.</p>

    <h5>Install CodeWithDaevel Uikit</h5>

    <p>Add Angular Material to your application by running the following command:</p>

    <pre><code>npm install &#64;daevel/uikit</code></pre>
    
</div>