.welcome-container {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-descriptions {
    padding: 10rem 5rem 5rem 5rem;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}