<div class="container">
    <!--* TOOLBAR CONTAINER -->
    <div class="toolbar">
        <cwd-toolbar>
            <div toolbar-center>
                <cwd-button (onClick)="redirectToShowcasePage()">Uikit</cwd-button>
            </div>
            <div toolbar-center>
                <cwd-button (onClick)="redirectToComponentPages()">Components</cwd-button>
            </div>
            <div toolbar-center>
                <cwd-button (onClick)="redirectToGuidesPage()">Guides</cwd-button>
            </div>
            <div toolbar-right>
                <cwd-button (onClick)="redirectOnGitHubPage()" iconName="faCodeBranch">GitHub</cwd-button>
            </div>
        </cwd-toolbar>
    </div>
    <!--* WELCOME CONTAINER -->
    <div class="welcome-container">
        <h2>CodeWithDaevel Uikit</h2>
        <p>Uikit design made by Daevel for Angular</p>
        <cwd-button (onClick)="redirectToGettingStartedPage()">Get started</cwd-button>
    </div>
    <!--* CARD CONTAINER DESCRIPTION -->
    <div class="card-descriptions">
        <cwd-card color="primary" size="big">
            <div card-header>
                <h3>High quality</h3>
            </div>
            <div card-body>
                <p>Internationalized and accessible components for everyone. Well tested to ensure performance and
                    reliability.</p>
            </div>
            <div card-footer>
                <p>Straightforward APIs with consistent cross platform behaviour.</p>
            </div>
        </cwd-card>
        <cwd-card color="primary" size="big">
            <div card-header>
                <h3>Versatile</h3>
            </div>
            <div card-body>
                <p>Provide tools that help developers build their own custom components with common interaction
                    patterns.</p>
            </div>
            <div card-footer>
                <p>Customizable within the bounds of the Material Design specification.</p>
            </div>
        </cwd-card>
        <cwd-card color="primary" size="big">
            <div card-header>
                <h3>Frictionless</h3>
            </div>
            <div card-body>
                <p>Built by the Angular team to integrate seamlessly with Angular.</p>
            </div>
            <div card-footer>
                <p>Start from scratch or drop into your existing applications.</p>
            </div>
        </cwd-card>
    </div>

</div>