<h1>Showcase</h1>

<cwd-card color="primary" size="big">
    <div card-header>
        <h2>Icone di prova</h2>
    </div>
    <cwd-icon iconName="coffee"></cwd-icon>
    <cwd-icon iconName="user"></cwd-icon>
    <cwd-icon iconName="check"></cwd-icon>
    <cwd-icon iconName="timeline"></cwd-icon>
    <cwd-icon iconName="levelUpAlt"></cwd-icon>
</cwd-card>

<cwd-card color="primary" size="small">
    <div card-header>
        <h2>Card di esempio</h2>
    </div>
    <div card-body>
        <p>Questo è un esempio di card che utilizza il componente CWD Card.</p>
        <cwd-input label="Email" [(model)]="testoDiProva" hint="Inserisci la tua email" type="email"
            placeholder="esempio@email.com">
        </cwd-input>
        <p>Valore attuale: {{ testoDiProva }}</p>
    </div>
    <div card-footer>
        <cwd-button (click)="handleResponse()" iconName="user">Azione della Card</cwd-button>
        <cwd-button (click)="mostraPopup()" iconName="message">Mostra popup</cwd-button>
    </div>
</cwd-card>

<cwd-card color="secondary" size="medium">
    <div card-header>
        <h2>Card di esempio</h2>
    </div>
    <div card-body>
        <p>Questo è un esempio di card che utilizza il componente CWD Card.</p>
        <cwd-input label="Email" [(model)]="testoDiProva" hint="Inserisci la tua email" type="email"
            placeholder="esempio@email.com">
        </cwd-input>
        <p>Valore attuale: {{ testoDiProva }}</p>
    </div>
    <div card-footer>
        <cwd-button (click)="handleResponse()" iconName="check">Azione della Card</cwd-button>
        <cwd-button (click)="handleResponse()" iconName="check">Azione della Card</cwd-button>
    </div>
</cwd-card>

<cwd-card color="warn" size="big">
    <div card-header>
        <h2>Card di esempio</h2>
    </div>
    <div card-body>
        <p>Questo è un esempio di card che utilizza il componente CWD Card.</p>
        <cwd-input label="Email" [(model)]="testoDiProva" hint="Inserisci la tua email" type="email"
            placeholder="esempio@email.com">
        </cwd-input>
        <p>Valore attuale: {{ testoDiProva }}</p>
    </div>
    <div card-footer>
        <cwd-button (click)="handleResponse()" iconName="check">Azione della Card</cwd-button>
        <cwd-button (click)="handleResponse()" iconName="check">Azione della Card</cwd-button>
    </div>
</cwd-card>

<cwd-card color="default" size="medium">
    <div card-header>
        <h2>Card di esempio</h2>
    </div>
    <div card-body>
        <p>Questo è un esempio di card che utilizza il componente CWD Card.</p>
        <cwd-input label="Email" [(model)]="testoDiProva" hint="Inserisci la tua email" type="email"
            placeholder="esempio@email.com">
        </cwd-input>
        <p>Valore attuale: {{ testoDiProva }}</p>
    </div>
    <div card-footer>
        <cwd-button (click)="handleResponse()" iconName="check">Azione della Card</cwd-button>
        <cwd-button (click)="handleResponse()" iconName="check">Azione della Card</cwd-button>
    </div>
</cwd-card>



<!-- 
<cwd-card color="primary">
    <div card-header>
        <h3>Grande</h3>
    </div>
    <div card-body>
        <p>Questa è una card Grande. chec in sostanza sembra essere proprio cosi cioe praticamente allora</p>
        <cwd-input label="Email" ariaLabel="Campo email obbligatorio" hint="Inserisci la tua email" type="email"
            placeholder="esempio@email.com">
        </cwd-input>
        <cwd-input label="Password" ariaLabel="Campo password obbligatorio" hint="Inserisci la tua password"
            type="password" placeholder="esempio@email.com">
        </cwd-input>
    </div>
    <div card-footer>
        <cwd-button>Click</cwd-button>
        <cwd-button (click)="handleResponse()" iconName="check">Azione della Card</cwd-button>
    </div>
</cwd-card>

<cwd-card>
    <cwd-icon iconName="coffee"></cwd-icon>
    <cwd-icon iconName="user"></cwd-icon>
    <cwd-icon iconName="check"></cwd-icon>
    <cwd-icon iconName="timeline"></cwd-icon>
    <cwd-icon iconName="levelUpAlt"></cwd-icon>
</cwd-card>

<cwd-button (click)="mostraPopup()" iconName="message">
    Mostra popup
</cwd-button>
<cwd-fab icon="xmark"></cwd-fab> -->