<div style="display: flex; flex-direction: column;">
    <h3 style="display: flex; flex: row;">Text position</h3>
    <div style="display: flex; flex-direction: row; gap: 1 rem; justify-content: space-evenly;">
        <cwd-fab iconName="faCheck" iconPosition="right" color="primary" position="text">Primary
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="secondary" position="text" badgePosition="top-right"
            badgeValue="2">Secondary
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="warn" position="text" badgePosition="top-right"
            badgeValue="3">Warn
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="danger" position="text" badgePosition="top-right"
            badgeValue="3">Danger
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="primary"  position="text"
            badgePosition="top-right" badgeValue="3">Disabled
        </cwd-fab>
    </div>
</div>

<div style="display: flex; flex-direction: column;">
    <h3 style="display: flex; flex: row;">Filled position</h3>
    <div style="display: flex; flex-direction: row; gap: 1 rem; justify-content: space-evenly;">
        <cwd-fab iconName="faCheck" iconPosition="right" color="primary" position="filled">Primary
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="secondary" position="filled"
            badgePosition="top-right" badgeValue="2">Secondary
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="warn" position="filled" badgePosition="top-right"
            badgeValue="3">Warn
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="danger" position="filled" badgePosition="top-right"
            badgeValue="3">Danger
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="primary"  position="filled"
            badgePosition="top-right" badgeValue="3">Disabled
        </cwd-fab>
    </div>
</div>

<div style="display: flex; flex-direction: column;">
    <h3 style="display: flex; flex: row;">Outlined position</h3>
    <div style="display: flex; flex-direction: row; gap: 1 rem; justify-content: space-evenly;">
        <cwd-fab iconName="faCheck" iconPosition="right" color="primary" position="outlined">Primary
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="secondary" position="outlined"
            badgePosition="top-right" badgeValue="2">Secondary
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="warn" position="outlined" badgePosition="top-right"
            badgeValue="3">Warn
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="danger" position="outlined" badgePosition="top-right"
            badgeValue="3">Danger
        </cwd-fab>
        <cwd-fab iconName="faCheck" iconPosition="right" color="primary"  position="outlined"
            badgePosition="top-right" badgeValue="3">Disabled
        </cwd-fab>
    </div>
</div>