<div style="display: flex; flex-direction: column;">
    <h3 style="display: flex; flex: row;">Text position</h3>
    <div style="display: flex; flex-direction: row; gap: 1 rem; justify-content: space-evenly;">
        <cwd-fab iconName="faCheck" color="primary" position="text" badgeValue="2">Primary
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="secondary" position="text" badgePosition="top-right" badgeValue="2">Secondary
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="warn" position="text" badgePosition="top-right" badgeValue="3">Warn
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="danger" position="text" badgePosition="top-right" badgeValue="3">Danger
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="primary" position="text" badgePosition="top-right" badgeValue="3" [disabled]="true">Disabled
        </cwd-fab>
    </div>
</div>

<div style="display: flex; flex-direction: column;">
    <h3 style="display: flex; flex: row;">Filled position</h3>
    <div style="display: flex; flex-direction: row; gap: 1 rem; justify-content: space-evenly;">
        <cwd-fab iconName="faCheck" color="primary" position="filled" badgeValue="2">Primary
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="secondary" position="filled" badgePosition="top-right"
            badgeValue="2">Secondary
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="warn" position="filled" badgePosition="top-right" badgeValue="3">Warn
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="danger" position="filled" badgePosition="top-right" badgeValue="3">Danger
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="primary" position="filled" badgePosition="top-right" badgeValue="3" [disabled]="true">Disabled
        </cwd-fab>
    </div>
</div>

<div style="display: flex; flex-direction: column;">
    <h3 style="display: flex; flex: row;">Outlined position</h3>
    <div style="display: flex; flex-direction: row; gap: 1 rem; justify-content: space-evenly;">
        <cwd-fab iconName="faCheck" color="primary" position="outlined" badgeValue="2">Primary
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="secondary" position="outlined" badgePosition="top-right"
            badgeValue="2">Secondary
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="warn" position="outlined" badgePosition="top-right" badgeValue="3">Warn
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="danger" position="outlined" badgePosition="top-right" badgeValue="3">Danger
        </cwd-fab>
        <cwd-fab iconName="faCheck" color="primary" position="outlined" badgePosition="top-right"
            badgeValue="3" [disabled]="true">Disabled
        </cwd-fab>
    </div>
</div>