<div class="slide-toggle-container">
    <cwd-slide-toggle color="primary" labelPosition="before" label="prova"></cwd-slide-toggle>
    <cwd-slide-toggle color="secondary" labelPosition="before" label="prova"></cwd-slide-toggle>
    <cwd-slide-toggle color="warn" labelPosition="before" label="prova"></cwd-slide-toggle>
    <cwd-slide-toggle color="danger" labelPosition="before" label="prova"></cwd-slide-toggle>
    <cwd-slide-toggle color="primary" [disabled]="true" labelPosition="before" label="prova"></cwd-slide-toggle>
</div>