@import "../../styles.scss";

.my-card {
  max-width: 400px;
  height: auto;
  background-color: $card-neutral-bg;
  color: $card-neutral-text;
  border-radius: 0.7em;
  border: 3px solid $card-primary-border;
  box-shadow: 0.2em 0.2em #00000022;
  transition: box-shadow 0.2s, transform 0.2s;
  margin: 1em 0;

  .card-header,
  .card-body,
  .card-footer {
    display: block;
  }

  .card-header img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
  }

  .card-body {
    padding: 16px;
    font-size: 14px;
    color: #333;
  }

  .card-footer {
    padding: 12px 16px;
    text-align: right;
  }
}
