<div class="cwd-loader-container">
    <h2>Determinate</h2>
    <div class="cwd-loader-determinate">
        <cwd-loader color="primary" mode="determinate" [value]="10" [striped]="true" [showValue]="true"></cwd-loader>
        <cwd-loader color="secondary" mode="determinate" [value]="20" [striped]="true" [showValue]="true"></cwd-loader>
        <cwd-loader color="warn" mode="determinate" [value]="30" [striped]="true" [showValue]="true"></cwd-loader>
        <cwd-loader color="danger" mode="determinate" [value]="40" [striped]="true" [showValue]="true"></cwd-loader>
    </div>

    <h2>Indeterminate</h2>
    <div class="cwd-loader-indeterminate">
        <cwd-loader color="primary" mode="indeterminate" [value]="10" [striped]="true" [showValue]="true"></cwd-loader>
        <cwd-loader color="secondary" mode="indeterminate" [value]="20" [striped]="true"
            [showValue]="true"></cwd-loader>
        <cwd-loader color="warn" mode="indeterminate" [value]="30" [striped]="true" [showValue]="true"></cwd-loader>
        <cwd-loader color="danger" mode="indeterminate" [value]="40" [striped]="true" [showValue]="true"></cwd-loader>
    </div>

</div>